input {
  width: 100%;
  height: 30px;
  border: lightskyblue 1px solid;
  border-radius: 6px;
}

.App {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: white;
  padding: 0 40px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.button.disabled {
  background: rgb(43, 43, 43);
}

.button {
  width: 100%;
  height: 24px;
  background: lightskyblue;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease;

  text {
    font-weight: 600;
    color: white;
  }
}
